@import "tailwindcss";

html, body {
    font-family: 'Space Grotesk', sans-serif;
    cursor: url('./assets/hollow-cursor-white-border.svg') 0 0, auto;
}

button, a, .group:hover, .group-hover\:cursor-pointer:hover {
  cursor: url('./assets/hollow-cursor-white-border-large.svg') 0 0, pointer;
}

/* Custom cursor styles for dark theme */
html.dark {
  cursor: url('./assets/hollow-cursor-white-border.svg') 0 0, auto !important;
}

html.dark button, html.dark a, html.dark .group:hover, html.dark .group-hover\:cursor-pointer:hover {
  cursor: url('./assets/hollow-cursor-white-border-large.svg') 0 0, pointer !important;
}
