@import "tailwindcss";

html {
  background-color: #111827;
}

html,
body {
  font-family: 'Space Grotesk', sans-serif;
  min-height: 100vh;
  color: white;
  cursor: url('./assets/hollow-cursor-white-border.svg') 0 0, auto;
}

html.dark {
  color: white;
  cursor: url('./assets/hollow-cursor-white-border.svg') 0 0, auto !important;
}

button,
a,
.group:hover,
.group-hover\:cursor-pointer:hover {
  cursor: url('./assets/hollow-cursor-white-border-large.svg') 0 0, pointer;
}

html.dark button,
html.dark a,
html.dark .group:hover,
html.dark .group-hover\:cursor-pointer:hover {
  cursor: url('./assets/hollow-cursor-white-border-large.svg') 0 0, pointer !important;
}